---
title: Home
base: Html tricks
---
<!doctype html>
<html lang="en" class="scroll-smooth scroll-pt-12">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | {{  base }}</title>
    {% for styleUrl in style %}
        <link rel="stylesheet" href="{{ styleUrl }}">
    {% endfor %}
    {% for javascriptUrl in javascript %}
        <script src="{{ javascriptUrl }}"></script>
    {% endfor %}
</head>
<body>
{{ content | safe }}
</body>
</html>
